#root {
    /* margin: auto;
    padding: 2rem; */
}
html,
body {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    font-size: 16;
    font-family: Inter;
    background-image: url(@assets/main-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden; /*  ẩn scroll */
}
