@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: black;
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    margin: 0 auto;

    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}
.background-white {
    background-color: white !important;
}
.showcase-menu-right::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}
.top-menu::before {
    content: '';
    position: absolute;
    left: calc(0% - 25px);
    border-bottom: 57px solid rgba(240, 240, 240, 0.35);
    border-left: 25px solid transparent;
    height: 0;
    width: 5%;
}
/* width */
::-webkit-scrollbar {
    width: 6px;
    padding: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #a66946;
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a76640;
}
@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    :root {
        color: #213547;
        background-color: #ffffff;
    }
}
@media (min-width: 1536px) {
    .top-menu::before {
        left: -5%;
    }
}
