/* styles.css */
.clip-custom-triangle {
    clip-path: polygon(51% 0, 51% 100%, 100% 50%);
}
.underline-container {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.underline-container::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #64402b;
    z-index: -1; /* Đảm bảo gạch chân nằm dưới nội dung */
}

.transform-move {
    transform: translateX(28px);
}

/* custom.css */
.organe-shadow {
    box-shadow: 1px 1px 5px 1px rgba(148, 92, 60, 1);
}
