.slider {
  @apply w-full xl:absolute xl:bottom-0 overflow-hidden rounded-xl;

  @media (max-width: 2580px) {
    height: calc(90dvh);
  }

  @media (max-width: 1460px) {
    height: calc(100dvh - 180px);
  }

  @media (max-width: 1280px) {
    height: 100%;
  }

  &__card {
    @apply w-full h-full object-cover;

    @media (max-width: 2580px) {
      height: calc(90dvh);
    }

    @media (max-width: 1460px) {
      height: calc(100dvh - 180px);
    }

    @media (max-width: 1280px) {
      height: 100%;
    }
  }
}

.slick-slider {
  height: 100%;
  width: 100%;
}

.slick-track {
  height: 100%;
}

.slick-initialized {
  height: 100%;
  width: 100%;
}
