.vision {
  @apply w-full h-full flex flex-col justify-center overflow-y-auto overflow-x-hidden;

  @media (max-height: 1000px) {
    display: block;
  }

  height: calc(100dvh - 340px);

  .underline_item1_vision {
    @apply bg-[#FFFFFF] border-2 -ml-20 md:my-[-3px] xl:my-0 z-20;
  }

  .clip-custom-triangle {
    clip-path: polygon(51% 0, 51% 100%, 100% 50%);
  }
}
